@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/variables.scss";

.row {
  @include tableGrid;
  border-bottom: 1px solid $border-colour;

  & div {
    padding: 5px 10px;
    border-right: 1px solid $border-colour;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  :last-child:not(.row__btn) {
    text-align: left;
    border-right: none;
  }

  &__btn {
    height: 26px;
    padding: 0 15px;
    font-weight: 500;
    background-color: $white;
    color: #000;
    border: 1px solid #000;
    border-radius: 13px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      background-color: #000;
      color: $white;
    }
  }
}
