@import "src/assets/styles/mixins.scss";
@import "src/assets/styles/variables.scss";

.post_list {
  padding: 10px;

  &__header {
    position: fixed;
    width: 100%;
    height: $header-height;
    @include tableGrid;
    border-bottom: 3px solid $border-colour;
    font-weight: 500;

    & div {
      padding: 10px 0;
      text-align: center;
    }
  }

  &__body {
    margin-top: $header-height;
  }
}
