@import "src/assets/styles/variables.scss";

.post_info {
  background-color: $white;
  padding: 20px;
  border-radius: 10px;

  &__block {
    display: flex;
    margin-bottom: 20px;

    & > div {
      margin-right: 20px;
    }
  }

  &__back_btn {
    background-color: $white;
    border: none;
    cursor: pointer;
  }
}
